.wrapper .arrow {
    transition: .5s ease-in-out;
}

.wrapper .arrow.active {
    rotate: 180deg;
    color: #1db954;
}

.wrapper .list-container {
    padding: 0 1rem;
    transition: height .7s ease-in-out;
}